<!--Header-->
<div id="box">
    <div id="header">
        <h1>Structural Similarity Map</h1>
    </div>

    <div class="container">

        <!--Sidebar-->
        <div id="sidebar">
            <div class="option">
                <h3>Select graph file</h3>
                <label id="openlabel">Open
                    <input #graph type="file" id="file-input" (change)="openGraph(graph)"/>
                </label>
            </div>
            <div class="option">
                <h3>Select coordinate file</h3>
                <label id="openlabel">Open
                    <input #coord type="file" id="file-input" (change)="openCoordinates(coord)"/>
                </label>
            </div>
            <div *ngIf="vizType == 'graph'">
                <h3>Options</h3>
                <div class="option">
                    <label>Charge</label>
                    <input #chrg (input)="changeCharge(chrg.value)" type="range" min="-50" max="0" step="0.5" value={{charge}} class="slider">
                </div>
                <div class="option">
                    <label>Distance</label>
                    <input #dist (input)="changeDistance(dist.value)" type="range" min="0.1" max="100" step="1" value={{distance}} class="slider">
                </div>
                <div class="option">
                    <label>Threshold</label>
                    <input #thr (input)="changeThreshold(thr.value)" type="range" min="0" max="20" step="0.5" value="{{threshold}}" class="slider">
                </div>
                <div class="option">
                    <label>Colouring</label>
                    <select #test (change)="changeProperty(test.value)">
                        <option *ngFor="let prop of properties" value="{{prop}}">{{prop}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!--Canvas-->
        <div id="canvas" (mouseup)="mouseUp($event)" (contextmenu)="mouseDown($event)" (mousemove)="mouseMove($event)">
        </div>

    </div>

    <!--Node Info-->
    <div id="nodeinfo" *ngIf="info">
        <div>AFLOW id: <a href="http://aflowlib.org/material.php?id={{info.aflow_id}}">{{info.aflow_id}}</a></div>
        <div>Lattice system: {{info.lattice_system}}</div>
        <div>Formula: {{info.formula}}</div>
        <div>Space group: {{info.spacegroup_relax}}</div>
        <div>Prototype: {{info.prototype}}</div>
        <div>Bravais lattice: {{info.bravais_lattice_relax}}</div>
        <div>Pearson symbol: {{info.pearson_symbol_relax}}</div>
        <div>Number of atoms: {{info.natoms}}</div>
        <div>Energy per cell: {{info.energy_cell}}</div>
    </div>
</div>
